language: generic
sudo: required
services:
    - docker

before_install:
    - docker build -t mideg3/react-test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true mideg3/react-test npm test -- --coverage

after_success:
    - docker build -t mideg3/multi-client ./client
    - docker build -t mideg3/multi-nginx ./nginx
    - docker build -t mideg3/multi-server ./server
    - docker build -t mideg3/multi-worker ./worker
    # Log in to the docker CLI
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    # Take those images and push them to docker-hub
    - docker push mideg3/multi-client
    - docker push mideg3/multi-nginx
    - docker push mideg3/multi-server
    - docker push mideg3/multi-worker

deploy:
    edge: true
    provider: elasticbeanstalk
    region: "us-east-2"
    app: "multi-docker"
    env: "MultiDocker-env"
    bucket_name: "elasticbeanstalk-us-east-2-760665699577"
    bucket_path: "multi-docker"
    on:
        branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY